


h2, h3, h4, h5{
  color: blue;
  font: sans-serif;
}
#scoreBoard {
  font-style: bold;
  border: solid black;
  align-content: center;
}
table {
  color: bold dodgerblue;
  border-style: groove;
  border-color: gray;
  position: center;

}
li{
  list-style-type: square;
}

.hyperLink {
  text-decoration: none;
}
.hyperLink:hover {
  background-color: dodgerblue;
  text-decoration: none;
}

blockquote {
    background-color: blue;
    color: orange;
}

[alt]{
visibility: hidden;
}

#checkbox-grid {
  list-style-type: none;
}
